<section class="portfolio-section">
  <div class="container section-header">
    <h2>Projects</h2>
    <p>Explore some of the impactful initiatives I've been involved in throughout my career.</p>
  </div>



  <div class="container grid-container">
    @for (item of displayedItems; track item.title) {
      <div class="portfolio-card">
        <div class="card-img">
          <img [src]="item.image" alt="Project Image">
          <div class="overlay">
            <div class="links">
              @for (link of item.links; track link.url) {
                <a [href]="link.url" target="_blank">
                  @if (link.icon === 'github') {
                    <i class="fa-brands fa-github" style="font-size: 24px;"></i>
                  } @else {
                    <i class="fa-brands fa-medium" style="font-size: 24px;"></i>
                  }
                </a>
              }
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4>{{ item.title }}</h4>
          <p class="project-desc" [innerHTML]="item.description"></p>
          <div class="card-footer-links">
            @for (link of item.links; track link.url) {
              <a [href]="link.url" target="_blank" class="github-link">
                <i class="fa-brands fa-github"></i> Source Code
              </a>
            }
          </div>
        </div>
      </div>
    }
  </div>
  <div class="view-all-container">
    <button class="view-all-btn" (click)="viewAll()">
      View All Projects <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</section>
